<div class="mt-5">
    <h1>Shorten URL</h1>

    <div class="card gabe mt-4">
        <%# advantages to rails helper form_with %>
        <%# 1. It's more secure with automatic CSRF protection %>
        <%# 2. Automatic Turbo integration (faster page loads) %>
        <%# 3. Easier data binding with models %>
        <div class="card-body">
            <%= form_with url: @shorten_url_path, method: :post, class: "d-flex" do |form| %>
                <div class="input-group">
                    <%= form.text_field :url, placeholder: "Enter your URL", class: "form-control", autocomplete: "off" %>
                    <%= form.submit "Shorten", class: "btn btn-primary" %>
                </div>
            <% end %>
        </div>
    </div>
</div>

